<!doctype html>
<html>
    <head>
    
        <link rel='stylesheet' href="static/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="static/vue.js"></script>
    
    </head>
    <body>

        <canvas id="loss_chart" width="400" height="300" class="mob_hide"></canvas>

        <div id="vue-app">

            <div class="container">
                <div class="header">
                    <h2 style="display: inline-block">Prachtige verkiezingstext createur</h2>
                    <div class="options" style="float: right; margin-top: 20px">
                            <span>toon certainties</span>
                            <input v-model="show_certainties" type="checkbox" name="certainties"/>
                    </div>
                </div>

                <div class="status">
                    <span><label>Batch:</label> <span>{{ status.batch }}</span></span>
                    <span><label>Loss:</label> <span>{{ status.loss | parse_float }}</span></span>
                    <span><label>Iteration:</label> <span>{{ status.iteration }}</span></span>
                    <span style="float: right"><label>Time:</label> <span>{{ status.time | parse_seconds }}</span></span>
                </div>

                <div class="input" style="margin-bottom: 20px">
                    <div style="position: relative; display: inline-block">
                        <input v-model="seed" type=text id="seed" placeholder="Voer een reutel in..">
                        <span id="seed_length">{{ (seed && seed.length) || 0 }}</span>
                    </div>
                    <button v-on:click="generate" id="generate">Genereer</button>
                    <input v-model="temperature" type=range min="0" max="4" step="0.01" id="temperature">
					<span id="temperature">{{ temperature }}</span>
                </div>
                     
                <div class="response">
                    <div class="blob" style="background-color: #dbebf1;">
                        <p v-if="!generate_status" class="text">Voer een tekst in ...</p>
                        <p v-if="generate_status == 'PENDING'">KiesBot is aan het nadenken ... </p>
                        <p v-if="generate_status == 'DONE'" class="text">
                            <strong>{{ generated_text.seed }}</strong><span v-if="show_certainties" v-html="renderCertainties(generated_text)"></span><span v-else>{{ generated_text.result_text }}</span>
                        </p>
                    </div>

                </div>

                <div id="blobs_list">

                    <div class="blob" v-for="(result, blob_index) in results.slice().reverse()">
                        <div style="float: right">
                            <div v-for="(text, index) in result.result_texts" style="display: inline-block">
                                <input v-model="temperatures[blob_index]" :name="'temp_' + blob_index" type="radio" :value="index" :id="'id_' + index">
                                <label for="'id_' +  index">{{ text.temperature }}</label>
                            </div>
                        </div>
                        <p>
                            <span style="font-weight: bold;" title="seed">{{ result.seed }}</span><span v-for="(text, index) in result.result_texts" v-show="temperatures[blob_index] == index"><span v-if="show_certainties" v-html="renderCertainties(text)"></span>
                                <span v-else>{{ text.result_text }}</span>
                            </span>
                        </p>
                        <div class="stats">
                            <span>Epoch: <strong>{{ result.iteration }}</strong></span> 
                            <span>Loss: <strong>{{ result.loss | parse_float }}</strong></span>
                            <span>Tijd: <strong>{{ result.time | parse_seconds }}</strong></span>
                            <span class="improved" v-if="result.model_improved == 'true'">MODEL VERBETERD</span>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <script src="static/chart.js"></script>
        <script src="static/script.js"></script>


    </body>

</html>
